* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*max-width: 500px;*/
}

h1 {
  text-align: center;
  background-color: #7e7d7d;
  margin: 15px;
  padding: 2px;
  border: 1px solid;
  border-radius: 15px;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #abacb3;
  font-size: 16px;
}

.image {
  float: center;
  max-width: 160px;
  max-height: 160px;
}

.blue {
  border-left: 3px solid #4895ff;
}

.green {
  border-left: 3px solid #3bb54a;
}

.red {
  border-left: 3px solid #b3404a;
}

.yellow {
  border-left: 3px solid #f7ff05;
}

@media (max-width: 800px) {
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 809px;
  }
}
